@model SundoDiary.Domain.DataPage
@{
    ViewBag.Title = "title";
}

<div class="hero-unit">
<h1>Hello, world!</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <h2>@Html.Raw(Model.Title)</h2>
        <p>&nbsp;</p>
        <p>@Html.Raw(Model.Content)</p>
    </div><!--/span-->
</div><!--/row-->
